.alert button {
	appearance: none;
	background: none;
	border: none;
	display: block;
	color: var(--color-blue-3);
	font: 100% var(--font-system);
	text-align: left;
	width: 100%;
}

.alert button .label {
	color: var(--color-blue-4);
}

.alert pre {
	white-space: pre-wrap;
}

@media (prefers-color-scheme: dark) {
	.alert button {
		color: var(--color-blue-5);
	}
}
