.arrow {
	display: inline-block;
	height: 30px;
	width: 30px;
}

.arrow svg .arrow-head {
	fill: var(--color-gray-6);
}

.arrow svg .arrow-tail {
	stroke: var(--color-gray-6);
	stroke-width: 10px;
}

@media (prefers-color-scheme: dark) {
	.arrow svg .arrow-head {
		fill: var(--color-gray-3);
	}
	
	.arrow svg .arrow-tail {
		stroke: var(--color-gray-3);
	}	
}