.current-conditions {
	padding: var(--margin-small);
}

.current-conditions h1 {
	margin: 0;
}

.current-conditions .details {
	align-items: center;
	display: grid;
	justify-content: center;
	grid-template-columns: 120px 1fr;
	margin: var(--margin-medium) 0;
}

.current-conditions .details .text {
	display: flex;
	flex-direction: column;
}