.current-conditions {
	padding: var(--margin-small);
}

.current-conditions .at-a-glance {
	align-items: center;
	display: flex;
	grid-gap: var(--margin-medium);
	justify-content: center;
}

.current-conditions .at-a-glance .text {
	font-size: 24px;
}

.current-conditions .observed-at {
	font-size: 90%;
	text-align: center;
}

.current-conditions .sunrise-sunset {
	font-size: 90%;
	margin: var(--margin-medium);
	text-align: center;
}