.forecast-period {
	align-items: flex-start;
	display: grid;
	grid-gap: var(--margin-small);
	grid-template-columns: 60px 1fr;
	padding: var(--margin-medium);
}

.forecast-period h1 {
	margin: 0;
}

.forecast-period p {
	margin: 0;
}