.forecast {
	display: grid;
	grid-gap: calc(var(--grid-size) * 2);
}

.forecast .discussion {
	text-align: center;
}

.forecast .title {
	color: var(--color-strong);
}

.forecast .updated {
	font-size: var(--font-small);
	text-align: center;
}