.weather-icon {
	color: var(--color-gray-3);
	position: relative;
}

.weather-icon .icon {
	position: relative;
}

.weather-icon .icon svg {
	height: auto;
	width: 100%;
}

.weather-icon .percent {
	align-items: center;
	display: flex;
	font-size: var(--font-extra-small);
	font-weight: bold;
	height: 20px;
	justify-content: center;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
}

.weather-icon.has-percent {
	margin-bottom: 20px;
}

.weather-icon.multiple .icon {
	height: 55%;
	position: absolute;
	width: 55%;
}

.weather-icon.multiple .icon:first-child {
	left: 0;
	top: 0;
}

.weather-icon.multiple .icon:nth-child(2) {
	top: 45%;
	left: 45%;
}