.app {
	display: grid;
	grid-gap: calc(var(--grid-size) * 2);
	padding: calc(var(--grid-size) * 2);
}

.app.day {
	background: linear-gradient(to bottom, var(--color-azure-3), var(--color-azure-4));
	color: var(--color-azure-2);
}

.app.day strong {
	color: white;
}

.app.night {
	background: linear-gradient(to bottom, var(--color-azure-5), var(--color-azure-6));
	color: var(--color-azure-2);
}

.global-overlay {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--grid-size);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.global-overlay svg {
	height: 100px;
	width: 100px;
}

.global-overlay p {
	text-align: center;
}